/* This will be applied to the whole body  */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

/* This will be applied to all the headers  */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;   
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 .seo {
    color: #d9dcd6;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    list-style-type: none;
}
/* The below code was commented out as it was grouped with the above header nav code  */
/* header nav ul {
    list-style-type: none;
} */

/* This will be applied to the unoredered list in the navigation menu  */
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}
/* This will be applied to the 'a' tag in the code  */
a {
    color: #ffffff;
    text-decoration: none;
}

/* This will be applied to the 'p' tag in the code  */
p {
    font-size: 16px;
}

/* This will be applied to the '.hero' tag in the code  */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* This will be applied to the images in the code  */
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* This will be applied to the '.benefits' tag in the code  */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* This will be applied to the '.all-benefits' tag in the code  */
.all-benefits  {
    margin-bottom: 32px;
    color: #ffffff;
}

/* This will be applied to the '.all-benefits' heading in the code  */
.all-benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* This will be applied to the '.all-benefits' image in the code  */
.all-benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* This will be applied to the '.services' tag in the code  */
.services {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* This will be applied to the '.services' image in the code  */
.services img {
    max-height: 200px;
}

/* This will be applied to the '.services' heading in the code  */
.services h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* This will be applied to the footer in the code  */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* This will be applied to the footer heading in the code  */
footer h2 {
    font-size: 20px;
}
